// * {
//     outline: 1px solid pink;
    
// }

body, h1, h2, h3, h4, p, select, button, li {
    margin: 0;
    color: $p-white;
    background-color: $p-black;
}

.hidden {
    display: none;
}

h1, h2, h3, h4, select, button {
    font-family: $heading-primary ;
    line-height: 1;
    font-weight: 900;
    letter-spacing: 0.1em;
    &:not(h1, select, button) {
        padding-bottom: 1em;
    }
}

button, select{
    font-size: 1.25rem;
    padding: 1rem 1rem;
    background-color: transparent;
    border: 1px solid $p-white;
    border-radius: 40px;
    &.method {
        font-size: 0.8rem;
        font-family: $body;
        width: 100%;
        font-weight: 900;
    }
}

i {
    font-size: 150px;
        @media($md){
            font-size: 250px;
        }
}

.profile-card {
    div {
        height:100%;
    }
    .svg {
        height: 150px;
        @media($md){
            height: 250px;
        }
    }
}

.error {
    color: $danger-500;
    border-color: $danger-500;
    -webkit-text-fill-color: $danger-500;
    box-shadow: 0 0 0px 1000px $danger-500 inset;
    -webkit-box-shadow: 0 0 0px 1000px $danger-50 inset;
    transition: background-color 5000s ease-in-out 0s;
    &:-webkit-autofill, &:-webkit-autofill:focus { 
        border-color: $danger-500;
        -webkit-text-fill-color: $danger-500;
        box-shadow: 0 0 0px 1000px $danger-500 inset;
        -webkit-box-shadow: 0 0 0px 1000px $danger-50 inset;
        transition: background-color 5000s ease-in-out 0s;
        
    }
}

li {
    span {
        font-weight: 900;
    }
}