// * {
//     outline: 1px solid pink;
    
// }

body, h1, h2, h3, h4, p {
    margin: 0;
    color: $p-black;
}

.hidden {
    display: none;
}

h1, h2, h3, h4 {
    font-family: $heading-primary ;
    line-height: 1;
    font-weight: 900;
}

button, select{
    font-family: $heading-primary;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 1px solid $p-black;
    border-radius: 40px;
}

i {
    font-size: 350px;
}
