* {
    outline: 1px solid pink;
    
}

body, h1, h2, h3, h4, p {
    margin: 0;
    color: $p-black;
}

h1, h2, h3, h4 {
    font-family: $heading-primary ;
    line-height: 1;
    font-weight: 900;
}

button {
    font-family: $heading-primary;
    padding: 8px 16px;
}