// Fonts
$heading-primary: jedi, serif;
// $body: monospace;

// Colors
$p-black: #000;
$p-white: #fff;

$danger-500: hsl(354, 62%, 43%);
$danger-50: hsl(355,70%,91%);

// Breakpoints - Bootstrap - mobile first
$sm: "width >= 576px";
$md: "width >= 768px";
$lg: "width >= 992px";
$xl: "width >= 1200px";
