// Fonts
$heading-primary: jedi, serif;
// $body: monospace;

// Colors
$gradient: linear-gradient(hsl(0, 0, 89, 100%), hsl(226, 89, 73, 100%));

$p-black: #000;
$p-white: #fff;

// Breakpoints - Bootstrap - mobile first
$sm: "width >= 576px";
$md: "width >= 768px";
$lg: "width >= 992px";
$xl: "width >= 1200px";
