@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css") layer(bootstrap);
@font-face {
  font-family: jedi;
  src: url("../assets/fonts/Starjedi.ttf");
}
@layer bootstrap, special-styles;
@layer special-styles {
  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    transition: opacity 0.75s, visibility 0.75s;
  }
  .loader-hidden {
    opacity: 0;
    visibility: hidden;
  }
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #2dc3ec;
    border-radius: 50%;
    -webkit-animation: loading 0.75s ease infinite;
            animation: loading 0.75s ease infinite;
  }
  @-webkit-keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  header h1 {
    font-size: 3rem;
    color: #000;
    letter-spacing: 0.1em;
    -webkit-text-stroke: 2px #fff;
  }
  @media (width >= 576px) {
    header h1 {
      font-size: 5rem;
    }
  }
  @media (width >= 768px) {
    header h1 {
      font-size: 7rem;
    }
  }
  body, h1, h2, h3, h4, p, select, button, li {
    margin: 0;
    color: #fff;
    background-color: #000;
  }
  .hidden {
    display: none;
  }
  h1, h2, h3, h4 {
    font-family: jedi, serif;
    line-height: 1;
    font-weight: 900;
  }
  h1:not(h1), h2:not(h1), h3:not(h1), h4:not(h1) {
    padding-bottom: 1em;
  }
  button, select {
    font-family: jedi, serif;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 40px;
  }
  button.method, select.method {
    font-size: 0.8rem;
    font-family: system-ui;
    width: 100%;
    font-weight: 900;
  }
  i {
    font-size: 150px;
  }
  @media (width >= 768px) {
    i {
      font-size: 250px;
    }
  }
  .profile-card div {
    height: 100%;
  }
  .profile-card .svg {
    height: 150px;
  }
  @media (width >= 768px) {
    .profile-card .svg {
      height: 250px;
    }
  }
  .error {
    color: hsl(354deg, 62%, 43%);
    border-color: hsl(354deg, 62%, 43%);
    -webkit-text-fill-color: hsl(354deg, 62%, 43%);
    box-shadow: 0 0 0px 1000px hsl(354deg, 62%, 43%) inset;
    -webkit-box-shadow: 0 0 0px 1000px hsl(355deg, 70%, 91%) inset;
    transition: background-color 5000s ease-in-out 0s;
  }
  .error:-webkit-autofill, .error:-webkit-autofill:focus {
    border-color: hsl(354deg, 62%, 43%);
    -webkit-text-fill-color: hsl(354deg, 62%, 43%);
    box-shadow: 0 0 0px 1000px hsl(354deg, 62%, 43%) inset;
    -webkit-box-shadow: 0 0 0px 1000px hsl(355deg, 70%, 91%) inset;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
  }
}/*# sourceMappingURL=style.css.map */